<div class="jumbotron text-center">
	<h1>Contact Page</h1>

	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<h2>Contact Us!</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia expedita atque dicta eveniet magnam a eligendi pariatur deserunt tempore at hic delectus, eaque inventore libero totam maxime, sint commodi molestiae.</p>

			<form action="/contact" method="POST">
				
				<div class="form-group">
					<label for="name">Name</label>
					<input type="text" name="name" id="name" class="form-control">
				</div>
				
				<div class="form-group">
					<label for="email">Email</label>
					<input type="text" name="email" id="email" class="form-control">
				</div>
				
				<div class="form-group">
					<label for="message">Message</label>
					<textarea type="text" name="message" id="message" class="form-control"></textarea>
				</div>

				<div class="form-group text-center">
					<button type="submit" class="btn btn-primary btn-block">Send</button>
				</div>

			</form>
		</div>
	</div>
</div>